@import '../../../app.scss';

.tabsContainer {
  flex-direction: row;
  align-items: center;
  background-color: $White;
  border-bottom-color: $Divider;
  border-bottom-width: 1px;
}

.tab {
  position: relative;
  flex: 1;
  align-items: center;
  width: 250px;
}

.tabText {
  padding: 20px 0;
  font-size: $FontSizeM;
  color: $BlackL;
}

.activeUnderline {
  position: absolute;
  bottom: 0;
  // left: calc((375px - 80px) / 2);
  width: 80px;
  height: 6px;
  background-color: $BlackS;
}
