@import '../../../../../app.scss';

.swiper {
  width: 470px;
  height: 66px;
  // position: absolute;
  // top: 0px;
  // left: 20px;
  // z-index: 90;
  background-color: rgba($color: #1d1a17, $alpha: 0.7);
  border-radius: 8px;
  overflow: hidden;
  z-index: 100;
}
.content_bg {
  width: 470px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image_container {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-left: 16px;
}
.image {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.content_text {
  font-size: 24px;
  color: $White;
  margin-left: 10px;
}
