@import '../../../../../app.scss';

.itemWrapper {
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 34px 20px;
  background-color: $White;
  border-radius: 12px;
}

.title {
  font-size: $FontSizeL;
  color: $BlackS;
}
